<div fxLayout="row" fxLayoutAlign="center center" class="viewport">
  <mat-card fxLayoutGap="3px" fxLayout="column" fxLayoutAlign="space-between start">
    <div>
      <div class="space-between">
        <h1>Book any slot to get started with a risk free trial</h1>
        <p>The first 2 session are on us.</p>
      </div>

      <div fxLayout="column" class="date-container">
        <a fxFlexAlign="end" class="date-container__square">Jan, 2020</a>
        <hr>
        <div fxLayout="row" class="date-container__box" fxLayoutAlign="space-evenly center">
          <a fxLayout="column" fxLayoutAlign="center center">
            <button class="date-container__box--chip">10</button>
            Wed
          </a>
          <a fxLayout="column" fxLayoutAlign="center center">
            <button class="date-container__box--chip">12</button>
            Fri
          </a>
          <a fxLayout="column" fxLayoutAlign="center center">
            <button class="date-container__box--chip">15</button>
            Mon
          </a>
          <a fxLayout="column" fxLayoutAlign="center center">
            <button class="date-container__box--chip">16</button>
            Tue
          </a>
        </div>
        <hr>

        <div class="space-between time-container__box" fxLayout="row" fxLayoutAlign="start center">
          <button class="time-container__box--button"><span>08:00</span> AM</button>
          <button class="time-container__box--button"><span>08:00</span> AM</button>
          <button class="time-container__box--button"><span>08:00</span> AM</button>
          <button class="time-container__box--button"><span>08:00</span> AM</button>
          <button class="time-container__box--button"><span>08:00</span> AM</button>
        </div>
      </div>
    </div>


    <div fxFlexAlign="center" class="plan-container__box space-between" fxLayout="row" fxLayoutAlign="center">
      <button class="plan-container__box--text">See plans</button>
      <span fxFlexAlign="center">Or</span>
      <button class="plan-container__box--button">Start free trial</button>
    </div>
  </mat-card>
</div>
