.viewport {
  width: 100vw;
  height: 100vh;
}

mat-card {
  width: 40%;
  height: 85%;
  padding: 0;
}

.space-between {
  margin: 1.5rem;
}

/* section 1 date */

.date-container hr {
  border: 1px solid #F5F5F5;
  margin: 0;
}

.date-container__square {
  display: inline-block;
  background-color: #F5F5F5;
  padding: .5rem;
  border-radius: 3px;
}

.date-container__box {
  padding: .7rem 0;
}

.date-container__box a {
  font-size: 1.2rem;
  color: #CBCBCB;
  font-weight: lighter;
  transition: color 1s;
}

.date-container__box a:hover,
.date-container__box a:active {
  font-weight: bold;
  color: #000000;
}

.date-container__box--chip {
  color: #CBCBCB;
  background-color: #ffffff;
  font-weight: lighter;
  border-radius: 50px;
  padding: 1rem;
  font-size: 1.5rem;
  border: none;
  margin-bottom: 5px;
  transition: color 1s, background-color 1s;
}

.date-container__box--chip:hover,
.date-container__box--chip:after,
.date-container__box--chip:focus {
  outline: none;
  background-color: #FCDD6C;
  font-weight: bold;
  color: #000000;
}
/* ================================== */

/* section 2 time */

.time-container__box {
  flex-wrap: wrap;
}
.time-container__box--button {
  background-color: #ffffff;
  padding: 1.5rem 2rem;
  border-radius: 6px;
  font-size: 1.2rem;
  font-weight: lighter;
  border: 1.5px solid #F5F5F5;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
  transition: color 1s, border 1s;
}

.time-container__box--button span {
  font-weight: bold;
}

.time-container__box--button:hover,
.time-container__box--button:after,
.time-container__box--button:focus {
  outline: none;
  border: 1.5px solid #FCDD6C;
  color: #FCDD6C;
}

/* ================================== */

/* section 3 plans */

.plan-container__box {
   margin-bottom: 1.5rem;
}
.plan-container__box button {
  margin: 0 0 1.5rem 1.5rem
}

.plan-container__box span {
  font-size: 1.5rem;
  color: #CBCBCB;
  margin-bottom: 20px;
}

.plan-container__box--text {
  border: none;
  background-color: #ffffff;
  font-size: 1.5rem;
  color: #4D2682;
}

.plan-container__box--text:focus {
  outline: none;
}

.plan-container__box--button {
  padding: 1.5rem 2rem;
  border: none;
  background-color: #4D2682;
  font-size: 1.5rem;
  border-radius: 6px;
  color: #ffffff;
  font-weight: bold;
}

.plan-container__box--button:focus {
  outline: none;
}

/* ================================== */

/* Media Query */


@media screen and (max-width: 1199px) {
  .time-container__box--button {
    padding: 1rem 1.5rem;
    margin-left: .5rem;
    margin-bottom: .5rem;
  }

  .plan-container__box {
    margin-top: 4.5rem;
  }

  .plan-container__box--button {
    padding: 1rem 1.5rem;
  }
}

@media screen and (max-width: 640px) {
  mat-card {
    width: 70%;
    height: 90%;
    padding: 0;
  }

  .space-between {
    margin: .5rem;
  }

  .space-between h1 {
    font-size: 1.5rem;
  }

  .date-container__box a {
    font-size: 1rem;
  }

  .date-container__box--chip {
    font-size: 1.2rem;
    padding: .5rem;
  }

  .time-container__box--button {
    padding: .5rem 1rem;
    margin-left: .5rem;
    margin-bottom: .5rem;
    font-size: 1rem;
  }

  .time-container__box--button span {
    font-size: 1rem;
  }

  .plan-container__box {
    margin-top: 4.5rem;
  }

  .plan-container__box--button {
    padding: .5rem 1rem;
    font-size: 1rem;
  }

  .plan-container__box span {
    font-size: 1rem;
    margin-right: 10px;
  }

  .plan-container__box--text {
    font-size: 1rem;
  }
}
